<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="Logonew.png">
  <title>event maganement</title>
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ac42c3b1f7.js" crossorigin="anonymous"></script>
    
</head>
<body >
    <nav class=" navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="Logonew.png" class="navbar-logo" />
                RGUKT   EVENTS
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mr-auto" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto text-center">
                    <a class="nav-link nav-item ml-2" href="faculty.html">Faculty</a>
                    <a class="nav-link active nav-item ml-2" href="#">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                    <a class="nav-link nav-item ml-2" href="organisation.html">Organising</a>
                    <a class="nav-link nav-item ml-2" href="dashboard.html">dashboard</a>
                    <a class="nav-link nav-item ml-2" href="discussion.html">Discussions</a>
                </div>
                <form class="form-inline my-2 my-lg-0 ml-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
            </div>
        </div>
    </nav>


        <p>
          <pre>
            recently <strong >Hackathon</strong> has completed give review on it  <a href="feedback.html">feedback</a>
          </pre>
        </p>
    <div id="sectionPreEvents" class="pre-events p-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="pagehead">
                        Events
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="shadow text-center pre-event-card p-2 mb-4">
                        <img src="https://img.freepik.com/free-photo/magic-fairytale-book-concept_23-2150171884.jpg?t=st=1710653314~exp=1710656914~hmac=cef4d0894d83e3634ab25416283ed24cbabf8a5c34d991177c6128d67250fb1f&w=740" class="pre-event-image w-100" />
                        <h1 class="pre-event-title">Coding Contests</h1>
                        <p>Date:</p>
                        <p>Registration Fee: </p>
                        <button class="register-button">Register</button>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="shadow text-center pre-event-card p-2 mb-4">
                        <img src="https://img.freepik.com/free-photo/magic-fairytale-book-concept_23-2150171884.jpg?t=st=1710653314~exp=1710656914~hmac=cef4d0894d83e3634ab25416283ed24cbabf8a5c34d991177c6128d67250fb1f&w=740" class="pre-event-image w-100" />
                        <h1 class="pre-event-title">Hackathon</h1>
                        <p>Date:</p>
                        <p>Registration Fee: </p>
                        <button class="register-button">Register</button>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="shadow text-center pre-event-card p-2 mb-4">
                        <img src="https://img.freepik.com/free-photo/magic-fairytale-book-concept_23-2150171884.jpg?t=st=1710653314~exp=1710656914~hmac=cef4d0894d83e3634ab25416283ed24cbabf8a5c34d991177c6128d67250fb1f&w=740" class="pre-event-image w-100" />
                        <h1 class="pre-event-title">Rangoli</h1>
                        <p>Date:</p>
                        <p>Registration Fee: </p>
                        <button class="register-button">Quiz</button>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="shadow text-center pre-event-card p-2 mb-4">
                        <img src="https://img.freepik.com/free-photo/magic-fairytale-book-concept_23-2150171884.jpg?t=st=1710653314~exp=1710656914~hmac=cef4d0894d83e3634ab25416283ed24cbabf8a5c34d991177c6128d67250fb1f&w=740" class="pre-event-image w-100" />
                        <h1 class="pre-event-title">Aptitude Skills</h1>
                        <p>Date:</p>
                        <p>Registration Fee: </p>
                        <button class="register-button">Register</button>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="shadow text-center pre-event-card p-2 mb-4">
                        <img src="https://img.freepik.com/free-photo/magic-fairytale-book-concept_23-2150171884.jpg?t=st=1710653314~exp=1710656914~hmac=cef4d0894d83e3634ab25416283ed24cbabf8a5c34d991177c6128d67250fb1f&w=740" class="pre-event-image w-100" />
                        <h1 class="pre-event-title">Reasoning Skills</h1>
                        <p>Date:</p>
                        <p>Registration Fee: </p>
                        <button class="register-button">Register</button>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="shadow text-center pre-event-card p-2 mb-4">
                        <img src="https://img.freepik.com/free-photo/magic-fairytale-book-concept_23-2150171884.jpg?t=st=1710653314~exp=1710656914~hmac=cef4d0894d83e3634ab25416283ed24cbabf8a5c34d991177c6128d67250fb1f&w=740" class="pre-event-image w-100" />
                        <h1 class="pre-event-title">Webinars</h1>
                        <p>Date:</p>
                        <p>Registration Fee: </p>
                        <button class="register-button">Register</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="vr-optics-controllers-section pt-3 pb-3">
        <div class="container shadow">
            <div class="row pt-3 pb-3">
                <div class="col-12 col-md-6 order-1 order-md-2">
                    <div class="d-flex flex-row justify-content-center">
                        <img src="crowd.jpg" class="opt-contr-image w-95" />
                    </div>
                </div>
                <div class="col-12 col-md-6 order-2 order-md-1">
                    <div>
                        <h1 class="opt-contr-heading mt-2">Crowd Management</h1>
                        <p class="opt-contr-description">Student can choose crowd management to interact with the crowd and control the public. </p>
                        <button class="btn custom-button">Read More</button>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-3 mt-3">
                    <div class="d-flex flex-row justify-content-center">
                        <img src="food.jpg" class="opt-contr-image w-95" />
                    </div>
                </div>
                <div class="col-12 col-md-6 order-4">
                    <div class="mt-5">
                        <h1 class="opt-contr-heading mt-2">Food Management</h1>
                        <p class="opt-contr-description">Student should be responsible for maintaining the updates of food issue during the dinner time.</p>
                        <button class="btn custom-button">Read More</button>
                    </div>
                </div>
            </div>
            <div class="row  pt-3 pb-3">
                <div class="col-12 col-md-6 order-1 order-md-2">
                    <div class="d-flex flex-row justify-content-center">
                        <img src="hospitality.jpg" class="opt-contr-image w-95" />
                    </div>
                </div>
                <div class="col-12 col-md-6 order-2 order-md-1">
                    <div>
                        <h1 class="opt-contr-heading mt-2">Hospitality</h1>
                        <p class="opt-contr-description">Student should take care of others health issues.They should handle the emergency issues. </p>
                        <button class="btn custom-button">Read More</button>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-3 mt-3">
                    <div class="d-flex flex-row justify-content-center">
                        <img src="finance.jpg" class="opt-contr-image w-95" />
                    </div>
                </div>
                <div class="col-12 col-md-6 order-4">
                    <div class="mt-5">
                        <h1 class="opt-contr-heading mt-2">Finance Management</h1>
                        <p class="opt-contr-description">Student should make sure of financial status of the event and they shold be loyal and transparentof doing the things with others money.</p>
                        <button class="btn custom-button">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    

    <div id="sectionFooter" class="vr-footer-section pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="text-center text-md-left">
                        <!-- <img src="" class="vr-footer-section-image" /> -->
                        <div class="d-flex flex-row justify-content-center justify-content-md-start mt-3">
                            <div class="social-media-logo-container">
                                <i class="fa-brands fa-google social-media-logo"></i>
                            </div>
                            <div class="social-media-logo-container ml-2">
                                <i class="fa-brands fa-twitter social-media-logo"></i>
                            </div>
                            <div class="social-media-logo-container ml-2">
                                <i class="fa-brands fa-instagram social-media-logo"></i>
                            </div>
                            <div class="social-media-logo-container ml-2">
                                <i class="fa-brands fa-linkedin social-media-logo"></i>
                            </div>
                        </div>
                        <p class="vr-footer-section-top-text mt-4">66, Amaravati ,Andhra Pradesh,India.</p>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div class="mr-3">
                            <h1 class="vr-footer-section-head">Contact Us</h1>
                            <p class="vr-footer-section-bottom-text"><i class="fa-solid fa-envelope footer-contact-logo mr-3"></i>ak@gmail.com</p>
                            <p class="vr-footer-section-bottom-text"><i class="fa-solid fa-phone mr-3 footer-contact-logo"></i>1234506789</p>
                            <p class="vr-footer-section-bottom-text"><i class="fa-brands fa-skype mr-3 footer-contact-logo"></i>Anil</p>
                        </div>
                        <div class="ml-2">
                            <h1 class="vr-footer-section-head">Let Us Help You</h1>
                            <p class="vr-footer-section-bottom-text">100% Purchase Protection</p>
                            <p class="vr-footer-section-bottom-text">Your Account</p>
                            <p class="vr-footer-section-bottom-text">Return Center Help</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <hr class="footer-hrule" />
                    <p class="vr-footer-section-copyright"><i class="fa-regular fa-copyright"></i> 2024 by Anil,Created with Bootstrap</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>